*{
    margin: 0;
    padding: 0;
    font-family: 'Onest', sans-serif;
}

h2{
    font-size:xx-large;
    font: bold;
}

header, summary{
    display: block;
    margin-top: 30px;
}

h2, p{
    margin-bottom: 20px;
    text-align: center;
}

section{
    margin-top: 30px;
}

#form-id{
    max-width: 460px;
    margin: 0 auto;
}

div{
    margin-top: 20px;
}

label{
    display: block; 
    margin-bottom: 8px; 
}

input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    margin-top: 8px;
}

#btn-submit{
    background-color: rgb(99 102 241);;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}